/* Footer Styling */
.footer {
  background-color: #ffffff;
  color: #3a4980;
  padding: 20px 10px;
  text-align: center;
}
.subscribeinput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #3a4980;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 10%;
  margin: 10px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #9f9f9f;
}

.footer-section p,
.footer-section ul,
.footer-section li {
  color: #9f9f9f;
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.5;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li a {
  color: #3a4980;
  text-decoration: none;
}

.footer-section li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  border-top: 1px solid #555;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 10px 0;
  }
}
